grant codeBase "file:C:\Users\stse\Dev\OCP11-excersise\src\main\java\interestingExamples\-" {
    permission java.io.FilePermission "c:\\file.txt", "read, write";
};